html {
    font-size: 10pt;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    
}

body {
    background-color: rgb(128, 128, 128);
    margin: 0px;
    color: white;
    
}

@media (min-width: 400px) {
    p {
        font-size: 3.2vw;
    }
}

@media (min-width: 900px) {
    p {
        font-size: 22pt;
    }
}

.scene_element {
    bottom: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.header-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.header-color {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index:-2;
}

img {
    width: 100%;
}

.navbar a:hover {
    background: linear-gradient(rgb(189, 189, 189), rgb(126, 126, 126));
    box-shadow: 0 -4px -8px 0 rgba(0, 0, 0, 0.55), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    color: black;
}

.navbar-inverse {
    background: linear-gradient(rgb(68, 68, 68), rgb(17, 17, 17));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.55), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}


p.navbar-brand {
    color:blue;
}

button {
    color: whitesmoke;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    border-radius: 8px;
    
}

button:hover, button:focus {
    border-color: var(--hover);
    color: #fff;
}

.fill {
    --color: #a972cb;
    --hover: #cb72aa;
    
}

.fill:hover,
.fill:focus {
    -webkit-box-shadow: inset 0 0 0 2em var(--hover);
    box-shadow: inset 0 0 0 2em var(--hover);
}

.raise {
    --color: #ffa260;
    --hover: #e5ff60;
    width: 10em;
    padding: 0.7em;
}

.raise:hover,
.raise:focus {
    -webkit-box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    -webkit-transform: translateY(-0.25em);
    transform: translateY(-0.25em);
}



.videoWrapper {
    margin: auto;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.55), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    border: medium;
}

h1 {
    font-size: 5vw;
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
    text-shadow: 2px 2px rgb(68, 68, 68);
    color: black;
}



@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.scene_element {
    animation-duration: 0.35s;
    transition-timing-function: ease-in;
    
}

/** An element that fades in */
.scene_element--fadein {
    animation-name: fadeIn;
}

/** An element that fades in and slides up */
.scene_element--fadeinup {
    animation-name: fadeInUp;
}

/** An element that fades in and slides from the right */
.scene_element--fadeinright {
    animation-name: fadeInRight;
}

#canvas {
    width: 300px;
    height: 300px;
    background: red;
}

.footer{
    background: linear-gradient(rgb(68, 68, 68), rgb(17, 17, 17));
    box-shadow: 5px -2px 12px 2px black;
    
}

#footer{

    position: relative;
    Width: 100%;
    bottom: 0px;
}